.blue-box {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 48 48"><circle cx="24" cy="24" r="21" fill="%232196f3" /><path fill="%23fff" d="M22 22h4v11h-4z" /><circle cx="24" cy="16.5" r="2.5" fill="%23fff" /></svg>');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 32px;
    background-color: #e9f2ff;
    padding-left: 50px;
    border: 1px solid lightgrey;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width:760px;
    border-radius: 5px;
  }
  
.yellow-box {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="%23e56911" d="M1 21L12 2l11 19zm11-3q.425 0 .713-.288T13 17t-.288-.712T12 16t-.712.288T11 17t.288.713T12 18m-1-3h2v-5h-2z" /></svg>');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 32px;
    background-color: #fff7d6;
    padding-left: 50px;
    border: 1px solid lightgrey;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width:760px;
    border-radius: 5px;

  }
  .red-box {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 2048 2048"><path fill="%23c9372c" d="M1024 0q141 0 272 36t244 104t207 160t161 207t103 245t37 272q0 141-36 272t-104 244t-160 207t-207 161t-245 103t-272 37q-141 0-272-36t-244-104t-207-160t-161-207t-103-245t-37-272q0-141 36-272t104-244t160-207t207-161T752 37t272-37m113 1024l342-342l-113-113l-342 342l-342-342l-113 113l342 342l-342 342l113 113l342-342l342 342l113-113z" /></svg>');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 32px;
    background-color: #feeceb;
    padding-left: 50px;
    border: 1px solid gray;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width:760px;
    border-radius: 5px;
  }
  .green-box {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="%2322a06b" d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m-2 15l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z" /></svg>');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 32px;
    background-color: #dcfff1;
    padding-left: 50px;
    border: 1px solid gray;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width:760px;
    border-radius: 5px;
  }