.main-content {
    padding: 10px;
    width: 800px;
    margin:auto
  }
  
  .content-section {
    padding: 10px;
    /*
    background-color: #f2f2f2;
    border: 1px solid gray;
    */
    margin:auto;
    
  }
  .image-section {
    margin:auto;
    padding: 10px;
    text-align: center;
  } 