@font-face {  
  src: url(../assets/figtree/Figtree-VariableFont_wght.ttf) format("truetype");
  font-family: Figtree;
}
* {
    box-sizing: border-box;
    font-family: "Figtree", "arial", "sans-serif";
  }

body {
    margin: 0;
  }
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

ul {
  line-height: 180%;
}
.content-pill-yellow {
  background-color: #f1c40f;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-green {
  background-color: #2ecc71;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-red {
  background-color: #e74c3c;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-blue {
  background-color: #3498db;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-purple {
  background-color: #9b59b6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-orange {
  background-color: #e67e22;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-grey {
  background-color: #95a5a6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}
.content-pill-black {
  background-color: #34495e;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size:10px;
  font-weight:bold
}